/*******************************************************************************
* DROPDOWN.CSS                                                                 *
* Used with dropdown.js to create the effects.                                 *
*******************************************************************************/
.dropdown-button {
	display: inline-block;
	position: relative;
	top: 13px;
	float: right;
	margin-right: 24px;
	width: 24px;
	height: 24px;
	background-size: contain;
	background-repeat: no-repeat;
	color: rgba(0, 0, 0, 0.38);
}

.dropdown-button:hover, .dropdown-button:active {
	color: rgba(0, 0, 0, 0.54);
}
