/*********
* Header *
*********/
header, .header-title {
	margin: 0;
	width: 100vw;
	left: 0;
	top: 0;
	position: fixed;
}

header {
	z-index: 5;
	height: 74px;
}

.header-title {
	display: inline-block;
	width: 25vw;
	background-color: #003300;
	padding: 0;
	height: 50px;
}

#navigation, navigation {
	list-style-type: none;
	display: inline-block;
	margin: 0;
	padding: 0;
	width: 75vw;
	height: 50px;
}

navigation {
	margin-left: 25vw;
	background-color: #003300;
}

#navigation > li, #navigation a {
	display: inline-block;
	margin-left: 20px;
	margin-right: 20px;
}

#placeholder {
	height: 50px;
}

#status {
	color: rgba(0, 0, 0, 0.84);
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	height: 24px;
	line-height: 24px;
	z-index: 10;
}

.good {
	background-color: #388e3c;
}

.alert {
	background-color: #fbc02d;
}

.bad {
	background-color: #d32f2f;
}
