/*******************************************************************************
* TYPOGRAPHY                                                                   *
* All font things are set here, including font-family, font-weight, font-size, *
* font color, etc.                                                             *
*******************************************************************************/
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(/hydroponics/styles/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

html {
	color: rgba(0, 0, 0, 0.87);
	font-family: "Roboto", "Noto", "Open Sans", "Droid Sans", Arial, Helvetica, sans-serif;
	font-size: 14px;
}

	/***************************************************************************
	* CLASS STYLES                                                             *
	* Styles things to be bold, italic, underlines, etc.                       *
	***************************************************************************/
	.bold {
		font-weight: bold;
	}

	.italic {
		font-style: italic;
	}

	.underline {
		text-decoration: underline;
	}

	.strikethrough {
		text-decoration: line-through;
	}

	.centered {
		text-align: center;
	}

	/***************************************************************************
	* LINKS                                                                    *
	* Styling links, hover links                                               *
	***************************************************************************/
	a {
		text-decoration: none;
		color: rgba(48, 79, 254, 0.54);
		font-weight: bold;
	}

	a:hover {
		text-decoration: underline;
	}

	/***************************************************************************
	* MISC                                                                     *
	* Anything that doesn't really fit into another category goes here         *
	***************************************************************************/
	thead {
		color: rgba(0, 0, 0, 0.54);
		font-size: 12px;
	}

	tbody {
		color: rgba(0, 0, 0, 0.87);
		font-size: 13px;
	}

	.header-title {
		font-family: Century Gothic, sans-serif;
		font-size: 34px;
		text-align: center;
		color: #ffffff;
		letter-spacing: 1vw;
		line-height: 7vh;
	}

	#navigation {
		text-align: center;
	}

	#navigation > li, #navigation a {
		color: rgba(255, 255, 255, 0.7);
		line-height: 7vh;
	}

	.button {
		text-transform: uppercase;
		font-size: 14px;
	}
